:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.connection {
  display: flex;
  gap: 0.5rem;
}
.controls-new-node {
  display: flex;
  flex-direction: column;
}
